body{
    background-color: #D3D3D3;
  }
  #userImage { 
  background: url("../img/phone.png") 50% 50% no-repeat;
  background-size:cover; /* 50% 50% centers image in div */
  width: 150px;
  height: 150px;
  /*opacity: 0.5*/
  }
  textarea {
     resize: none;
  }
  .edit-profile-panel,
  {
 -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; 
  }

  .panel-body .addBtn{
    display: flex;
    align-items: center;
    cursor:default;
  }
  .addBtn:hover{
    background-color: #ccc;
  }
  .panel-body .row{
    margin-bottom: 1em;
  }
  .panel-body p,
  .panel-body p.col-xs-2{
    padding: 0;
  }
  .panel-body input,
  .panel-body textarea,
  .panel-body select{
    padding:0.5em;
  }

#saveBtn{
    background-color:  #ef804a;   
  }

  .payment-panel .panel-body .well{

    webkit-border-radius: 20px !important; -moz-border-radius: 20px !important; border-radius: 20px !important;
  }
  #tabPhotos .panel-body .well{

    webkit-border-radius: 20px !important; -moz-border-radius: 20px !important; border-radius: 20px !important;
  }

     #tabPhotos .panel-body .well.uploadBtn{

    width: 30%;
  }
  .panel-body .row,
 {
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 0;
  }
  #create-meal-container{
    width: 90%;
    margin:auto;
    padding-top: 3em;
    padding-bottom: 3em;
  }
  #create-meal-container #navTabs{
    background-color: transparent;

  }
    #create-meal-container #navTabs li>a{
   background-color: transparent;
    color:black;
    padding-bottom: 5px;
    font-weight: bold
  }
  #create-meal-container #navTabs{
    margin-top: 10px;
  }
    #create-meal-container #navTabs li.active>a{
    
    color:#ef804a;
  }
 
  .edit-profile-panel .panel-heading,
  .payment-panel .panel-heading{
    background-color: grey;
    color: white;
    webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important;
  }
  .edit-profile-panel .panel-body{
    margin: 1em 4em;
    webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important;
  }

  .payment-panel .panel-body{
    margin: 1em 0.5em;
    webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important;
  }

   .payment-panel .panel-body .well{

    webkit-border-radius: 20px !important; -moz-border-radius: 20px !important; border-radius: 20px !important;
  }

  .uploadBtn{
    background-color:  #ef804a;   
  }

.plusOneLink{
    color: #ef804a;
}

  label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].css-checkbox {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:20px;
  margin-bottom: 1em;
  height:15px; 
  display:inline-block;
  line-height:15px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  font-weight: 100;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}



/*specific classes related to Checkbox skins*/
.lite-orange-check{background-image:url(http://csscheckbox.com/checkboxes/lite-orange-check.png);}