body{
    background-color: #D3D3D3;
  }
  #userImage { 
  background: url("../img/donator.jpg") 50% 50% no-repeat;
  background-size:cover; /* 50% 50% centers image in div */
  width: 150px;
  height: 150px;
  /*opacity: 0.5*/
  }
  textarea {
     resize: none;
  }
  .edit-profile-panel,
  {
 -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; 
  }

  .panel-body .addBtn{
    display: flex;
    align-items: center;
    cursor:default;
  }
  .addBtn:hover{
    background-color: #ccc;
  }
  .panel-body .row{
    margin-bottom: 1em;
  }
  .panel-body p,
  .panel-body p.col-xs-2{
    padding: 0;
  }
  .panel-body input,
  .panel-body textarea,
  .panel-body select{
    padding:0.5em;
  }

  .panel-body select{
    margin-right: 0.5em;
  }
  .panel-body .row,
 {
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 0;
  }
  #edit-profile-container{
    width: 70%;
    margin:auto;
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .edit-profile-panel .panel-heading{
    background-color: grey;
    color: white;
    webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important;
  }
  .edit-profile-panel .panel-body{
    margin: 1em 4em;
    webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important;
  }

  #uploadBtn{
    background-color:  #ef804a;   
  }