html,body{
    margin:0;
    padding: 0;
}
/*header styles*/
.navbar.navbar-default{
	margin-bottom:0;
    margin-left: 10px;
    margin-right: 10px;
    border: 0;
    background:white;
}
.navbar-brand{
    min-height: 60px;
    padding: 0;
}
.img-responsive{
    max-height: 50px;
}
#headerContainer #signUpBtn{
    border-radius: 1px;
    border-style: double;
    border-color:#ef804a;
    border-width:3px;
    padding:5px;
    margin:10px;
}
#headerContainer #logInBtn{
    border: none;
    padding:5px;
    margin:10px;
  }
/*header styles end*/

/*footer*/
footer.footer{
 color: white;
 background-color: #ef804a;
 text-align: center;
 height: auto;
 width: 100%;
}

footer{
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 130px;
}
footer .footer.row h4{
    text-align:justify;
}
footer .trademark{
    margin-top: 30px;
}

footer .socialMediaContainer{
    padding-left: 50px;
    padding-right: 50px;
}
footer .footer.row p{
    text-align:left;
}
/*footer end*/

/*search section landing page*/
.container{
    width: 100%;
    background:white;
    margin:0;
    text-align: center;
}

.containerSearch{
    margin-top: 5em;
    margin-bottom: 5em;
}

.horizontalSpliter{
    width:30%;
    margin:auto;
    border-width: 2px;
    vertical-align: middle;
    padding: 1em 0em;
}

.donatedSeatsContainer{
    text-align: center;
}
#donatedSeatsZeros,#donatedSeats,#donatedSeatsPlus{
    font-size: 4em;
}
#logo{
	padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (min-width: 48em){

    .fightGlobalHungerH2{
    font-size: 2.5em;
    line-height: 1.38462em;
    font-weight: 500;
    margin: 0.75em auto;
    text-align: center;
    max-width: 24em;
    color: #ef804a;

}
}

@media screen and (max-width: 47em){

.fightGlobalHungerH2{
        font-size: 1.8em;
    line-height: 1.38462em;
    font-weight: 400;
    margin: 0.75em auto;
    text-align: center;
    max-width: 22.5em;
    color: #ef804a;

}
}

#searchForm{
	margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;	
}
#searchField{
	font-size: 1.7em;
    line-height: 1.09091em;
    font-weight: 600;
    padding: 0.875em 1em 0.6875em 1em;
    width: 22.5em;
    height: 2.5em;
    border-radius:0.5em;
	   
}

#searchForm row{
    width: auto;
    margin-bottom: 10px;
}
#searchBtn{

    border-color: #ccc;
    border-radius:0;
    border-width: 2px;
}    
#searchBtnContainer{
    padding: 0;
}

/* style icon */
.inner-addon .glyphicon{
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #ccc;
}
.inner-addon .img-responsive{
  position: absolute;
  padding: 0px 10px 10px 0px;
  pointer-events: none;
  height: 40px;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 0px; }

#input1,#input2,#input3{
    padding: 0
}

.inner-addon input{
    border-radius: 0;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}
/*search section landing page end*/

/*how section landing page*/
#howContainer{
    background-color: #ccc;
    padding: 30px 150px;
    text-align: center;
}

#howContainer .hows{
    background-color: white;
    min-height: 250px;
}

#howContainer .how-box{
    margin:20px;

}

#howContainer .how-box p{
    padding:0px 25px 25px 25px;
    text-align: justify;
}
#howContainer .imageBox{
    padding-bottom: 30px;
    max-height:100% ;
    max-width:100%;

}

#howContainer .imageBox img{
    max-height:70% ;
    max-width:70%;
}
#howContainer .custom-badge{
    /*position: absolute;*/
    position: relative;
    top: -20px;
    left: -35px;
    background:#ef804a;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    font-size:20px;
    height: 40px;
    width: 40px;
    color: white;
    padding: 9px 8px;
}
/*how section landing page end*/


/*about section*/
#aboutContainer{
    background-color: white;
    padding: 50px 0px;
    width: 70%;
    margin: auto;
    /*padding: 30px 150px 100px 150px;*/
    text-align: center;
}
#aboutContainer .aboutText{
    width: 60%;
    margin:auto;
    padding-bottom: 2em;
}
#aboutContainer .aboutText h4{
    text-align: justify;
}
#aboutContainer .aboutText h2{
    text-align: center;
    /*padding-bottom: 20px;*/
}

#aboutContainer .contact-row{
    width: 100%;
    margin: auto;
    text-align: center;
}

#aboutContainer .imageBox{
    margin-bottom: 2em;
    margin-top: 2em;
}

.plusOneLink{
    color: #ef804a;
}

#aboutContainer .fb-like{
    padding-top: 20px;
}
/*end of about section*/


/*sign up modal*/
#signUpModal .modal-dialog{
    width:30%   
}
#signUpModal .modal-content{
    border-radius:0px;   
}

#signUpModal .modal-header{
    padding:10px 10px 0px 0px;  
    /*text-align: center; */
}

#signUpModal .modal-header h3{
    /*padding:10px 10px 0px 0px;  */
    text-align: center; 
    vertical-align: top;
}
#signUpModal .signUpBtns{
    padding: 1em;
    margin-bottom: 0.3em;
    border-radius: 0px;
    text-align: left;
    vertical-align: middle;
}

#signUpModal .signUpBtns .fa,
#signUpModal .signUpBtns span{
    text-align: left;
    padding-left:0px;
    padding-right: 0px;
}

#signUpModal .modal-footer{
    border-top: 0px;
}
#signUpModal .modal-footer hr{
    margin:3px 0px 3px 0px;
}

#signUpModal .modal-footer button{
    border-radius: 0px;
}

#signUpModal .modal-footer #logInBtn{
    border-radius: 1px;
    /*border-style: groove;*/
    border-color:#ef804a;
    border-width:2px;
    padding:5px;
    /*margin:10px;*/
}
#signUpModal .modal-footer span.col-md-6{
    text-align: left;
    padding: 0;
}
#signUpModal .modal-footer span.btnGroup{
    text-align: right;
}


/*sign up modal end*/

.plusOneLinkWhite{
    color:white;
}






.donationNumber{
    background-color: #ef804a;
    
}

.donatorContainer{
    padding-right: 150px;
    padding-left: 150px;
    text-align: center;
}

.donatorText p{
    text-align: justify;
    padding: 10px 10px 0px 10px;
}

.donatorBox{
    /*margin-right: 150px;
    margin-left: 150px;*/
    margin: 20px;
}