    body{
        background-color: #efefef;
    }
    
    .userImage-holder {
        height: 150px;
        width: 180px;
    }
    
    .userImage { 
        background: url("../img/user/10004154/profile.jpg") 50% 50% no-repeat;
        background-size:cover !important; /* 50% 50% centers image in div */
        width: 150px;
        height: 150px;
    }

    .userImage-back {
        -webkit-filter:brightness(60%);
        -moz-filter:brightness(60%);
        filter: url(#brightness);
        filter:brightness(60%);
    }

    .userImage-front {
        border-radius: 50%;
        position: relative;
        bottom: 150px;    
    }

    .userImage-ring {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 3px solid white;
        position: relative;
        bottom: 300px;
    }

    textarea {
        resize: none;
    }

    .edit-profile-panel {
        -webkit-border-radius: 0 !important; 
        -moz-border-radius: 0 !important; 
        border-radius: 0 !important; 
    }

    .panel-body .addBtn{
        display: flex;
        align-items: center;
        cursor:default;
    }

    .addBtn:hover{
        background-color: #ccc;
    }
    
    .panel-body .row{
        margin-bottom: 1em;
    }
  
    .panel-body p,
    .panel-body p.col-xs-2{
        padding: 0;
    }
  
    .panel-body input,
    .panel-body textarea,
    .panel-body select{
        padding:0.5em;
    }

    .panel-body select{
        margin-right: 0.5em;
    }
    
    .panel-body .row,
    {
        margin-left: 1.5em;
        margin-right: 1.5em;
        padding: 0;
    }
  
    #edit-profile-container,#settings-container{
        width: 70%;
        margin:auto;
        padding-top: 3em;
        padding-bottom: 3em;
    }
    
    .edit-profile-panel .panel-heading,
    .payment-panel .panel-heading{
        background-color: grey;
        color: white;
        -webkit-border-radius: 0 !important; 
        -moz-border-radius: 0 !important; 
        border-radius: 0 !important;
    }
  
    .edit-profile-panel .panel-body{
        margin: 1em 4em;
        -webkit-border-radius: 0 !important; 
        -moz-border-radius: 0 !important; 
        border-radius: 0 !important;
    }

    .payment-panel .panel-body{
        margin: 1em 0.5em;
        -webkit-border-radius: 0 !important; 
        -moz-border-radius: 0 !important; 
        border-radius: 0 !important;
    }

   .payment-panel .panel-body .well{
        -webkit-border-radius: 20px !important; 
        -moz-border-radius: 20px !important; 
        border-radius: 20px !important;
    }

    .uploadBtn{
        background-color:  #ef804a;   
    }

    .plusOneLink{
        color: #ef804a;
    }

    label {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    input[type=checkbox].css-checkbox {
        position: absolute; 
        overflow: hidden; 
        clip: rect(0 0 0 0); 
        height:1px; 
        width:1px; 
        margin:-1px; 
        padding:0;
        border:0;
    }

    input[type=checkbox].css-checkbox + label.css-label {
        padding-left:20px;
        margin-bottom: 1em;
        height:15px; 
        display:inline-block;
        line-height:15px;
        background-repeat:no-repeat;
        background-position: 0 0;
        font-size:15px;
        font-weight: 100;
        vertical-align:middle;
        cursor:pointer;
    }

    input[type=checkbox].css-checkbox:checked + label.css-label {
        background-position: 0 -15px;
    }



    /*specific classes related to Checkbox skins*/
    .lite-orange-check{
        background-image:url(http://csscheckbox.com/checkboxes/lite-orange-check.png);
    }

    #tab-content-container {
        margin-top: 3em;
    }

    #educationSelectionContainer {
        margin-top: -35px;
    }

    #educationSelectionContainer>label {
        float: left;
        position: relative;
        top: 35px;
    }

    #educationSelectionContainer>input[type=text] {
        margin-top: 10px;
    }

    #workSelectionContainer>label {
        float: left;
        position: relative;
        top: 35px;
    }

    #workSelectionContainer>input[type=text] {
        margin-top: 10px;
    }

    .user-description {
        position: relative;
        height: 150px;
    }

    .user-description>.buttons {
        position: absolute;
        bottom: 0;
    }

    .submit-buttons>button {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 20px; 
    }

    .submit-buttons>.save-button {
        background-color: #ef804a;
    }

    .submit-buttons>.view-profile-button {
        background-color: #808080;
        border-color: #ddd;
    }

    #phoneSelectionContainer>input+select {
        clear: left;
        margin-left: 16.67%;
        margin-top: 10px;
    }
    #field-phone-1 {
        margin-top: 0px !important;
    }

    #phoneSelectionContainer>input {
        height: 35px;
        margin-top: 10px;
    }

    #interestsSelectionContainer>* {
        margin-top: 10px;
    }

    #educationSelectionContainer>.p1s-close,
    #workSelectionContainer>.p1s-close {
        position: relative;
        top: -40px;
        font-size: 40px;
    }

    #educationSelectionContainer>input,
    #workSelectionContainer>input {
        margin-left: 16.67%;
        width: 80%;
    }

    #field-interests-group,
    #field-phones-group,
    #field-languages-group {
        margin-top: -30px;
        padding: 0;
    }

    #field-interests-group>select {
        width: 45%;
        float: left;
    }

    #field-interests-group>.p1s-close,
    #field-phones-group>.p1s-close,
    #field-languages-group>.p1s-close {
        float: left;
        font-size: 40px;
        display: inline-block;
        position: relative;
        top: -1px;
        margin-right: 7px;
    }

    #field-phones-group>select,
    #field-languages-group>select {
        width: 30%;
        clear: left;
        float: left;
    }

    #field-languages-group>select+select {
        margin-right: 0.5em;
        clear: none;
    }

    #field-phones-group>input {
        width: 30%;
        float: left;
        margin-right: 0.5em;
    }

    .edit-profile-panel select {
        height: 38px;
    }

    .edit-profile-panel input {
        height: 38px;
    }
