@-moz-document url-prefix() { 
    .navbar-toggle-mozzila-fix {
        position: absolute;
        right: 3%;
        top: 3%;
    }
}

.sb-title-logo {
    background-color: white;
    margin-top: 2px;
    margin-left: 2px;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid,
.navbar + .content-container {
    padding-top: 4.4em;
}

.search-bar {
    background-color: #fff;
    color:  #999999;
    border: 2px solid #999999;
}

.search-bar-form {
    background-color: #fff;
    height: 4em;
}

.sb-input-group {
    height: 4em;
    border: none;
    border-left: 2px solid #999999; 
    width:100%;
}

#sb-input-group-timepicker-end {
    width: 47% !important;
    float: left;
    border: none !important;
}

#sb-input-group-timepicker-end>.sb-input-group-addon {
    width: 10px !important;
}

#sb-input-group-timepicker-start {
    width: 52% !important;
    float: left;
}

.sb-input {
    height: 4em;
    border: none;
    border-right: 0px solid #999999;
    border-radius: 0px 0px 0px 0px;
}

.sb-input-group-addon {
    background-color: white;
    border: none;
    width: 3.4em !important;
}

.sb-input-group-addon>span {
    background-color: white;
    border:none;
    font-size: 1.7em;
    color: #999999;
}

#navbar-right-side-buttons {
    width: 25%; 
    border-left: 2px solid #999999;
}

#navbar-search-form-container {
    width: 62%;
}

#sb-seats-chair-img{
    width: 100%;
}

#sb-form-group-seats {
    width: 15%;
    float: left;
}

#sb-form-group-location{
    width: 36%;
    float: left;
}

#sb-form-group-timepicker-start{
    width: 10%;
    float: left;
}

#sb-form-group-timepicker-end {
    width: 10%;
    float: left;
    border: none;
}

#sb-form-group-datepicker{
    width: 25%;
    float: left;
}

.pac-container {
    z-index: 1031 !important;
}

.sb-form-container {
    width: 100%;
}

.sb-brand-cell:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.sb-brand-cell {
    text-align: center;
    white-space: nowrap;
}

.sb-navbar-toggle {
    margin-right: 0px;
}


.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}

.pac-item {
    font-family: GloberBold !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.navigation-button {
    height: 2em;
    margin-left: -45px;
    z-index: 1000;
    position: relative;
}
.navigation-button-notify-badge{
    position: relative;
    background: #ef804a;
    text-align: center;
    border-radius: 50%;
    font-size: 9px;
    height: 18px;
    width: 18px;
    color: black;
    padding: 5px 3px;
    margin-bottom: 20px;
    margin-left: 20px;
    z-index: 1001;
}

#sb-navigation-button-group {
    height:4em;
    width: 33%;
}

.navigation-label {
    margin-left: 0.1em;
}

.navigation-button-container {
    display: inline-block;
}

.navigation-button-cell:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.navigation-button-cell {
    text-align: center;
    white-space: nowrap;
}

.navigation-user-button-cell:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.navigation-user-button-cell {
    text-align: center;
    white-space: nowrap;
    padding-left: 20px;
}

.navigation-user-button-cell .navigation-button {
    width: 2em;
    border: 1px solid black;
    margin-left: -15px;
}

.notify-badge{
    position: absolute;
    background:white;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    font-size:20px;
    height: 40px;
    width: 40px;
    color: black;
    padding: 9px 8px;
}

#sb-input-group-timepicker-start,
#sb-input-group-timepicker-end {
  height: 4em;
}

.bootstrap-datetimepicker-widget table td {
   height: 1.8em !important;
   width: 1.8em !important;
   line-height: 1.8em !important;
   margin: 1.8em !important;
}

#sb-input-group-timepicker-start>.bootstrap-datetimepicker-widget.dropdown-menu,
#sb-input-group-timepicker-end>.bootstrap-datetimepicker-widget.dropdown-menu {
  width: 100%;
}

#sb-input-group-timepicker-start table.table-condensed>tbody>tr>td,
#sb-input-group-timepicker-end table.table-condensed>tbody>tr>td {
  padding: 0em;
  height: 1.8em;
}

#sb-input-group-timepicker-start table.table-condensed>tbody>tr>td.separator,
#sb-input-group-timepicker-end table.table-condensed>tbody>tr>td.separator {
   height: 1.8em;
   width: 0.3em !important;
   line-height: 1.8em !important;
}

#sb-input-group-timepicker-start table.table-condensed>tbody>tr>td>.btn-primary,
#sb-input-group-timepicker-end table.table-condensed>tbody>tr>td>.btn-primary {
  background-color: #fff;
  color: #ef804a !important;
  border-color: white !important;
  border: 0em solid white !important;
  margin: 0em !important;
}

#sb-input-group-timepicker-start table.table-condensed>tbody>tr>td>.btn-primary:hover,
#sb-input-group-timepicker-end table.table-condensed>tbody>tr>td>.btn-primary:hover {
  background-color: #eee !important;
  border-color: white !important;
  border: 0em solid white !important;
  margin: 0em !important;
}

#sb-input-group-timepicker-start table.table-condensed>tbody>tr>td>a.btn,
#sb-input-group-timepicker-end table.table-condensed>tbody>tr>td>a.btn {
  color: #ef804a !important;
  
}

#sb-input-group-timepicker-start table.table-condensed>tbody>tr>td>a>span,
#sb-input-group-timepicker-end table.table-condensed>tbody>tr>td>a>span {
   height: 1.8em !important;
   width: 1.8em !important;
   line-height: 1.8em !important;
   margin: 0em !important;
}

#sb-input-group-timepicker-start table.table-condensed>tbody>tr>td>span.timepicker-minute,
#sb-input-group-timepicker-end table.table-condensed>tbody>tr>td>span.timepicker-minute {
  color: #ef804a !important;
  height: 1.8em !important;
  width: 1.8em !important;
  line-height: 1.8em !important;
  margin: 0em !important;
}

#sb-input-group-timepicker-start table.table-condensed>tbody>tr>td>span.timepicker-hour,
#sb-input-group-timepicker-end table.table-condensed>tbody>tr>td>span.timepicker-hour {
  color: #ef804a !important;
  height: 1.8em !important;
  width: 1.8em !important;
  line-height: 1.8em !important;
  margin: 0em !important;
}


#sb-input-group-datepicker>.bootstrap-datetimepicker-widget.dropdown-menu {
  width: 100%;
  min-width: 15em;
  height: 18em;
}

#sb-input-group-datepicker>.bootstrap-datetimepicker-widget>.list-unstyled>li>div.datepicker .active {
  background-color: #ef804a !important;
}

#sb-input-group-datepicker>.bootstrap-datetimepicker-widget table tr {
  height: 1.4em;
}

#sb-input-group-datepicker>.bootstrap-datetimepicker-widget table td {
  height: 1.4em !important;
  line-height: 1.4em !important;
}

#sb-input-group-datepicker>.bootstrap-datetimepicker-widget table td.today {
  border-bottom-color: #ef804a !important;
}

.nav>li>a {
  font-family: GloberRegular;
  font-weight: normal;
  font-style: normal;
}

#your-rates-reviews {
  margin: 0 auto;
  padding: 0;
}
#your-rates-reviews.active>a {
  -webkit-box-shadow:inset 0px -3px 0px white;
  -moz-box-shadow:inset 0px -3px 0px white;
  box-shadow: inset 0px -3px 0px white;
}

#your-meal-offers {
  margin: 0 auto;
  padding: 0;
}
#your-meal-offers.active>a {
  -webkit-box-shadow:inset 0px -3px 0px white;
  -moz-box-shadow:inset 0px -3px 0px white;
  box-shadow: inset 0px -3px 0px white;
}

#your-reservations {
  margin: 0 auto;
  padding: 0;
}
#your-reservations.active>a {
  -webkit-box-shadow:inset 0px -3px 0px white;
  -moz-box-shadow:inset 0px -3px 0px white;
  box-shadow: inset 0px -3px 0px white;
}

#profile {
  margin: 0 auto;
  padding: 0;
}
#profile.active>a {
  -webkit-box-shadow:inset 0px -3px 0px white;
  -moz-box-shadow:inset 0px -3px 0px white;
  box-shadow: inset 0px -3px 0px white;
}

#settings {
  margin: 0 auto;
  padding: 0;  
}
#settings.active>a {
  -webkit-box-shadow:inset 0px -3px 0px white;
  -moz-box-shadow:inset 0px -3px 0px white;
  box-shadow: inset 0px -3px 0px white;
}

#your-rates-reviews-pill {
    background-color: #ef804a ;
    color: white;
    border-radius: 0px;
}
#your-rates-reviews-pill:hover {
    background-color: #f39d72 ;
}
#your-rates-reviews-pill.active {
    background-color: #f18d5b ;
    font-family: GloberBold;
    font-weight: normal;
    font-style: normal;
    border-bottom: 5px;
    border-bottom-color: white;
}

#your-meal-offers-pill {
    background-color: #ef804a ;
    color: white;
    border-radius: 0px;
}
#your-meal-offers-pill:hover {
    background-color: #f39d72 ;
}
li.active>#your-meal-offers-pill{
    background-color: #f18d5b ;
    color: white;
    font-family: GloberBold;
    font-weight: normal;
    font-style: normal;
    border-bottom: 5px;
    border-bottom-color: white;
}

#your-reservations-pill {
    background-color: #ef804a ;
    color: white;
    border-radius: 0px;
}
#your-reservations-pill:hover {
    background-color: #f39d72 ;
}
li.active>#your-reservations-pill{
    background-color: #f18d5b ;
    font-family: GloberBold;
    font-weight: normal;
    font-style: normal;
    border-bottom: 5px;
    border-bottom-color: white;
}

#profile-pill {
    background-color: #ef804a ;
    color: white;
    border-radius: 0px;
}
#profile-pill:hover {
    background-color: #f39d72 ;
}
li.active>#profile-pill{
    background-color: #f18d5b ;
    font-family: GloberBold;
    font-weight: normal;
    font-style: normal;
    border-bottom: 5px;
    border-bottom-color: white;
}

#settings-pill {
    background-color: #ef804a ;
    color: white;
    border-radius: 0px;
}
#settings-pill:hover {
    background-color: #f39d72 ;
}
li.active>#settings-pill{
    background-color: #f18d5b ;
    font-family: GloberBold;
    font-weight: normal;
    font-style: normal;
    border-bottom: 5px;
    border-bottom-color: white;
}

#pills-bar {
    background-color: #ef804a ;
    height: 40px;
}

#pills-bar>ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    height: 40px;
}
