.sb-title-logo {
    background-color: white;
    margin-top: 2px;
    margin-left: 2px;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 4.4em;
}

.search-bar {
  background-color: #fff;
  color:  #999999;
  border: 2px solid #999999;
}

.search-bar-form {
    background-color: #fff;
    height: 4em;
}

.sb-input-group {
  height: 4em;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 2px solid #999999; 
  width:100%;
}

.sb-input {
  height: 4em;
  border-top: none;
  border-right: 0px solid #999999;
  border-bottom: none;
  border-left: none;
  border-radius: 0px 0px 0px 0px;
}

.sb-input-group-addon {
  background-color: white;
  border: none;
  width: 3.4em !important;
}

.sb-input-group-addon>span {
  background-color: white;
  border:none;
  font-size: 1.7em;
  color: #999999;
}

.sb-navbar-header {
  height: 4em;
  width: 12%;   
}

#sb-logo-img {
  width: 100%;
}

#navbar-right-side-buttons {
  width: 25%; 
}

#navbar-search-form-container {
  width: 62%;
}

#sb-seats-chair-img{
  width: 100%;
}

#sb-form-group-seats {
  width: 15%;
}

#sb-form-group-location{
  width: 36%;
}

#sb-form-group-timepicker{
  width: 21%;
}

#sb-form-group-datepicker{
  width: 25%;
}

.pac-container {
    z-index: 1031 !important;
}

.sb-form-container {
    width: 100%;
}


@media(max-width:767px){
  
}
@media(min-width:768px){
  
}
@media(min-width:992px){
  
}
@media(min-width:1200px){
 
}

/* fix for collapsing the screen below 1000px */
@media (max-width: 1000px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}