@media(max-width: 640px){
    .title-main {
        float:left;
        margin-left: 2%;
        font-size: 2em;
        
    }

    .title-holder {
        height: 3em;
        display: inline-flex;
    }
}

