@media(min-width:75em){
    #title-holder {
        height: 90px;
        font-size: 3.5em;
        float: left;
    }

    .img-logo{
        width: 120px;
        height: 120px;
    }

    #title-with-icon{
        max-height: 120px;
        height: 10em; 
    }

    #logo-holder {
        width: 120px;
        height: 120px;
        float: left;
    }


}