.bodyStyle {
    background-color: #ef804a;
}

html, body {
    height: 100%;
}

#container-main {
    height: 100%;
}

.header-text{
    color: white;
    text-decoration: none;
    float: left;
}

.header-link:link {
    color: white;
    text-decoration: none;
}

.header-link:visited {
    color: white;
    text-decoration: none;
}

.header-link:hover {
    color: white;
    text-decoration: none;
}

.header-link:active {
    color: white;
    text-decoration: none;
}

.row-style {
    height: 14.28%;
    width: 100%;
}

.row-3-style {
    height: 33.33%;
}

.col-lower-border {
    border-color: rgb(255, 255, 255); 
    border-width:3px; 
    border-radius: 2px; 
    border-style: none none solid none;
}

.col-upper-border {
    border-color: rgb(255, 255, 255); 
    border-width:3px; 
    border-radius: 2px; 
    border-style: solid none none none;
}

.empty-cell {
    height: 100%;
}

.white-text {
    color: white;
    text-align: center;
}