@media (min-width: 801px) and (max-width: 1024px){
    .title-main {
        float:left;
        margin-left: 2%;
        font-size: 3em;
    }

    .title-holder {
        height: 4em;
        display: inline-flex;
    }

}

