@media (min-width: 1025px){
    .title-main {
        float:left;
        margin-left: 2%;
        font-size: 4em;
    }

    .title-holder {
        height: 5em;
        display: inline-flex;
    }


}
