@media (min-width: 851px) and (max-width: 1200px) {

    .offer-container {
        display: inline-block;
        float: left;
        width: 25em;
        margin-left: -webkit-calc((50% - 25em)/2);
        margin-left: -moz-calc((50% - 25em)/2);
        margin-left: calc((50% - 25em)/2);
        margin-right: -webkit-calc((50% - 25em)/2);
        margin-right: -moz-calc((50% - 25em)/2);
        margin-right: calc((50% - 25em)/2);
        border-radius: 5%;
        margin-bottom: 5em;
    }

    .active-meal-offers-area>.title,
    .past-meal-offers-area>.title,
    .pending-reservations-area>.title,
    .accepted-reservations-area>.title,
    .completed-reservations-area>.title {
        margin-left: -webkit-calc((50% - 16em)/2);
        margin-left: -moz-calc((50% - 16em)/2);
        margin-left: calc((50% - 16em)/2);
        margin-bottom: 3em;  
        font-size: 16pt;
        font-weight: 700;
        color: black; 
        display: inline-block;
        text-align: left;
        width: 100%;
    }

}

@media (min-width: 1001px) and (max-width: 1350px) {

    #results-container {
        display: inline-block;
        float: left;
        width: 100%;
        margin-bottom: 5em;
        width: -webkit-calc(99% - 42em);
        width: -moz-calc(99% - 42em);
        width: calc(99% - 42em);
    }

    .result-item {
        display: inline-block;
        float: left;
        width: 350px;
        margin-left: -webkit-calc((99% - 350px)/2);
        margin-left: -moz-calc((99% - 350px)/2);
        margin-left: calc((99% - 350px)/2);
        margin-right: -webkit-calc((99% - 350px)/2);
        margin-right: -moz-calc((99% - 350px)/2);
        margin-right: calc((99% - 350px)/2);
        border-radius: 5%;
        margin-bottom: 2.5em;
        margin-top: 2.5em;
    }
}

@media (min-width: 711px) and (max-width: 1000px) {

    #floating-container {
        display: none;
    }

    #results-container {
        display: inline-block;
        float: left;
        width: 100%;
        margin-bottom: 5em;
    }

    .result-item {
        display: inline-block;
        float: left;
        width: 350px;
        margin-left: -webkit-calc((50% - 350px)/2);
        margin-left: -moz-calc((50% - 350px)/2);
        margin-left: calc((50% - 350px)/2);
        margin-right: -webkit-calc((50% - 350px)/2);
        margin-right: -moz-calc((50% - 350px)/2);
        margin-right: calc((50% - 350px)/2);
        border-radius: 5%;
        margin-bottom: 2.5em;
        margin-top: 2.5em;
    }
}