@media (min-width: 1201px) {
	.search-bar {
        height: 4.3em;
    }

  	#sb-chair-logo-img{
    	width: 3em;
  	}

  	#sb-menu-button {
	   display: none !important;
  	}

  	.righ-side-navbar-container {
  		width: 13em;
        height: 4em;
        float: right;
        border-left: 2px solid #999999;
  	}

    .sb-form-container{
        float: left;
        width: 100%;
        width: -webkit-calc(100% - 17em);
        width: -moz-calc(100% - 17em);
        width: calc(100% - 17em);
        height: 4em;
    }

    #sb-form-group-seats {
		width: 12%;
 		display: inline-block;
    }

    #sb-form-group-location {
        width: 46%;
        display: inline-block;
    }

    #sb-form-group-datepicker {
    	width: 21%;
 		display: inline-block;
   	}

   	#sb-form-group-timepicker {
   		width: 20%;
 		display: inline-block;
   	}

    .sb-logo-img-container {
        width: 4em;
        height: 4em;
        padding-left: 0.35em;
        padding-top: 0.5em;
        float: left;
    }

    #sb-dropdown-navigation {
        display: none !important;
    }

    #sb-navbar-container {
        background-color: #ef804a; 
        height: 4em;
    }

    .sb-navbar {
        height: 4em;
    }

    .navbar {
        height: 4em;
    }

    #navbar-right-side-buttons {
    	width: 100%;
    	border: none;
    	margin-top: 0;
    	margin-left: 0;
    }

    #navbar-right-side-buttons>li>div>lable {
    	display: none !important;
    }
}