@media (min-width: 1701px) {

    .offer-container {
        display: inline-block;
        float: left;
        width: 25em;
        margin-left: -webkit-calc((25% - 25em)/2);
        margin-left: -moz-calc((25% - 25em)/2);
        margin-left: calc((25% - 25em)/2);
        margin-right: -webkit-calc((25% - 25em)/2);
        margin-right: -moz-calc((25% - 25em)/2);
        margin-right: calc((25% - 25em)/2);
        border-radius: 5%;
        margin-bottom: 5em;
    }

    .active-meal-offers-area>.title,
    .past-meal-offers-area>.title {
        margin-left: -webkit-calc((25% - 17em)/2);
        margin-left: -moz-calc((25% - 17em)/2);
        margin-left: calc((25% - 17em)/2); 
        font-size: 16pt;
        font-weight: 700;
        color: black; 
        display: inline-block;
        text-align: left;
        width: 100%;
    }

}