@media (min-width: 1201px) {
    #tab-content-container {
        width: 100%;
        width: -webkit-calc(100% - 10em);
        width: -moz-calc(100% - 10em);
        width: calc(100% - 10em);
        margin-left: 5em;
        margin-right: 5em; 
    }

    #your-rates-reviews-tab {
        margin-top: 3em;
    }

    .bottom-border-shorter-gray-thick {
        height: 2px;
        background-color: #BCBCBC;
        width: 100%;
        width: -webkit-calc(100% - 4em);
        width: -moz-calc(100% - 4em);
        width: calc(100% - 4em);
        margin-left: 2em;
        margin-right: 2em;
        display: inline-block;
        margin-top: 2em;
    }

    .bottom-border-shorter-gray-thin {
        height: 1px;
        background-color: #999999;
        width: 100%;
        width: -webkit-calc(100% - 4em);
        width: -moz-calc(100% - 4em);
        width: calc(100% - 4em);
        margin-left: 2em;
        margin-right: 2em;
        display: inline-block;
    }

    .active-meal-offers-area {
        
    }

    .active-meal-offer-add-offer-container {
        display: inline-block;
        float: left;
        width: 25em;
        margin-left: -webkit-calc((33% - 25em)/2);
        margin-left: -moz-calc((33% - 25em)/2);
        margin-left: calc((33% - 25em)/2);
        margin-right: -webkit-calc((33% - 25em)/2);
        margin-right: -moz-calc((33% - 25em)/2);
        margin-right: calc((33% - 25em)/2);
        border-radius: 5%;
        background-color: #ef804a;
    }

    .active-meal-offer-add-offer {
        display: inline-block;
        font-size: 17em;
        color: white;
        text-align: center;
        padding: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%); 
        margin-bottom: -0.25em;
    }

    .active-meal-offer-add-offer-label {
        display: inline-block;
        font-size: 3em;
        color: white;
        text-align: center;
        width: 100%;
    }

    .active-meal-offer-container {
        display: inline-block;
        float: left;
        width: 25em;
        margin-left: -webkit-calc((33% - 25em)/2);
        margin-left: -moz-calc((33% - 25em)/2);
        margin-left: calc((33% - 25em)/2);
        margin-right: -webkit-calc((33% - 25em)/2);
        margin-right: -moz-calc((33% - 25em)/2);
        margin-right: calc((33% - 25em)/2);
        border: 1px solid #BCBCBC;
        margin-bottom: 5em;
    }

    .active-meal-offer-label {
        margin-left: -webkit-calc((33% - 16em)/2);
        margin-left: -moz-calc((33% - 16em)/2);
        margin-left: calc((33% - 16em)/2); 
        font-size: 16pt;
        font-weight: 700;
    }

    .active-meal-offer-picture {
        width: 100%;
        height: 14em;
        background-image: url(../../img/jumbotron3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid white;
    }

    .active-meal-offer-info {
        width: 100%;
        height: 11em;
        background-color: #ef804a;
        border: 2px solid white;
        display: inline-block;
    }

    .active-meal-offer-info-title {
        width: 100%;
        width: -webkit-calc(100% - 20px);
        width: -moz-calc(100% - 20px);
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 3em;
        color: white;
        text-align: center;
        border-bottom: 1px solid white;
    }

    .active-meal-offer-info-cell {
        width: 33%;
        height: 8em;
        float: left;
    }

    .active-meal-offer-info-cell-title {
        color: white;
        text-align: center;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .active-meal-offer-info-cell-main {
        color: white;
        text-align: center;
        font-size: xx-large;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .active-meal-offer-info-cell-main-image {
        height: 1.3em;
        margin-top: -7px;
        margin-left: -8px;
    }

    .active-meal-offer-info-cell-link {
        color: white;
        text-align: center;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .active-meal-offer-info-cell-link>a {
        color: white;
        text-decoration: underline;
    }

    .active-meal-offer-tabs-content {
        height: 21em;
        overflow: auto;
        background-color: white;
    }

    .active-meal-offer-guests-tab {
        font-size: 16pt;
        width: 39%;
    }

    .active-meal-offer-requests-tab {
        font-size: 16pt;
        width: 60%;
    }

    .active-meal-offer-requests-tab>a, .active-meal-offer-guests-tab>a {
        color: black;
    }

    .active-meal-offer-tabs-tab-number {
        margin: 0;
        display: inline-block;
        color: #BCBCBC;
    }

    .active-meal-offer-guests {
        width: 100%;
        background-color: white;
        display: inline-block;
        padding-left: 1.5em;
        padding-top: 2.5em; 
    }

    .active-meal-offer-guests-title {
        width: 100%;
        width: -webkit-calc(100% - 20px);
        width: -moz-calc(100% - 20px);
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: black;
        font-size: xx-large;
        display: inline-block;
        margin-bottom: 0;
    }

    .active-meal-offer-guests-guest-bubble {
        display: inline-block;
        float: left;
        margin: 0.5em;
    }

    .active-meal-offer-guests-guest-image {
        width: 6em;
        height: 6em;
        border-radius: 50%;
        display: inline-block;
        border: 2px solid #BCBCBC;
    }

    .active-meal-offer-guests-request-image {
        width: 6em;
        height: 6em;
        border-radius: 50%;
        display: inline-block;
        border: 2px solid #BCBCBC;
        margin-left: -2em;
    }

    .active-meal-offer-guests-guest-image-notify-badge{
        position: relative;
        background: #eb4a4a;
        text-align: center;
        border-radius: 50%;
        font-size: 12px;
        height: 24px;
        width: 24px;
        color: white;
        padding: 6px 1px;
        left: 5em;
        top: -2.5em;
        z-index: 1001;
    }

    .active-meal-offer-guests-guest-name {
        color: #ef804a;
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
    }

    .active-meal-offer-guests-guest-location {
        color: black;
        font-size: 14px;
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
    }

    .active-meal-offer-seat-requests {
        width: 100%;
       
        background-color: white;
    }

    .active-meal-offer-seat-requests-request{
        display: inline-block;
        width: 100%;
        padding-left: 15px;
        margin-bottom: 1em;
        padding-top: 2.5em;
    }

    .active-meal-offer-seat-requests-title {
        width: 100%;
        width: -webkit-calc(100% - 20px);
        width: -moz-calc(100% - 20px);
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: black;
        font-size: xx-large;
        display: inline-block;
        margin-bottom: 0;
    }

    .active-meal-offer-seat-requests-title-number {
        color: #BCBCBC;
        font-size: xx-large;
        display: inline-block;
    }

    .active-meal-offer-seat-requests-guest-bubble {
        display: inline-block;
        float: left;
        margin: 0.5em;
    }

    .active-meal-offer-seat-requests-guest-image {
        width: 6em;
        height: 6em;
        border-radius: 50%;
        display: inline-block;
        border: 2px solid #BCBCBC;
    }

    .active-meal-offer-seat-requests-guest-name {
        color: #ef804a;
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
    }

    .active-meal-offer-seat-requests-guest-location {
        color: black;
        font-size: 14px;
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
    }

    .active-meal-offer-seat-requests-request-details {
        width: 15em;
        display: inline-block;
    }

    .active-meal-offer-seat-requests-request-seats {
        width: 5em;
        float:left;
        display: inline-block;
    }

    .active-meal-offer-seat-requests-request-interests {
        width: 5em;
        float:left;
        display: inline-block;
    }

    .active-meal-offer-seat-requests-request-languages {
        width: 5em;
        float:left; 
        display: inline-block; 
    }

    .active-meal-offer-seat-requests-request-languages-image {
        margin-bottom: 2px;
    }

    .active-meal-offer-seat-requests-request-details-label {
        text-align: center;
        margin: 0;
        width: 100%;
        color: #ef804a;
    }

    .active-meal-offer-seat-requests-request-interests-label {
        text-align: center;
        margin: 0;
        width: 100%;
        color: #ef804a;
    }

    .active-meal-offer-seat-requests-request-interests-label-second {
        text-align: center;
        margin: 0;
        width: 100%;
        color: #ef804a;
        margin-top: -3px;
    }

    .active-meal-offer-seat-requests-request-languages-label {
        text-align: center;
        margin: 0;
        width: 100%;
        color: #ef804a;
    }

    .active-meal-offer-seat-requests-request-languages-label-second {
        text-align: center;
        margin: 0;
        width: 100%;
        color: #ef804a;
        margin-top: -3px;
    }

    .active-meal-offer-seat-requests-request-details-value {
        text-align: center;
        font-size: xx-large;
    }

    .active-meal-offer-seat-requests-request-interests-value {
        text-align: center;
        font-size: xx-large;
    }

    .active-meal-offer-seat-requests-request-languages-value {
        text-align: center;
        font-size: xx-large;
    }

    .active-meal-offer-seat-requests-request-button-container {
        display: inline-block;
        padding-left: 20px;
        width: 15em;
        margin-top: -1em;
    }

    .active-meal-offer-seat-requests-request-button-confirm {
        width: 49%;
        height: 2em;
        background-color: #ef804a;
        color: white;
        border: 1px solid bisque;
    }

    .active-meal-offer-seat-requests-request-button-decline {
        width: 48%;
        height: 2em;
        background-color: #BCBCBC;
        color: black;
        border: 1px solid bisque;
    }

    .past-meal-offers-area {
        border-top: 2px solid #BCBCBC;
    }

}